a {
  text-decoration: none;
  color: black;
}
img {
  display:block;
  margin: auto;
  width:700px;
}
h1{
  color: black;
}
#blog_navbar{
  display: block;
  position: relative;
  top: 125px;
  margin-bottom: 30px;

}
.previous_next {
  display: inline-block;
  position: relative;
  margin-left: 50px;
  left: 140px;
  top: -80px;
  text-decoration: underline;
  font-size: 20px;
  color: black;
}
#current {
  font-size= 2em;
  text-decoration: bold;
}
#sidebar {
  position: absolute;
  display: block;
  list-style-type: none;
  right: 30%;
  line-height: 40px;
  font-style: bold;
  top: 210px
}
#posttitle {
  display:block;
  position: relative;
  width: 400px;
  height: 15px;
}

#subtitle {
  display:block;
  position: relative;
  height: 10px;
  width: 400px;
}
#date {
  display:block;
  position: relative;
  height: 10px;
  width: 400px;
}
p {

}

.center {
  text-align:center;
}
section {
  display: block;
  position:absolute;
  width: 600px;
  text-align:left;
  left: 110px;
  margin-right: 100px;
  font-style: sans-serif;
  line-height: 1.1em
}
#top {
display:block;
position: absolute;
top: 210px;
}
#footer {
   display: block;
   position: absolute;
   bottom: 10px;
}
