
#second_from_top {
display: block;
position: relative;
top: 940px;
left: 100px;
}


#third_from_top {
display: block;
position: relative;
top: 950px;
left: 100px;
}

#fourth_from_top {
display: block;
position: relative;
top: 960px;
left: 100px;
}

#fifth_from_top {
display: block;
position: relative;
top: 970px;
left: 100px;
}

#sixth_from_top {
display: block;
position: relative;
top: 980px;
left: 100px;
}

#seventh_from_top {
display: block;
position: relative;
top: 990px;
left: 100px;
}

#eighth_from_top {
display: block;
position: relative;
top: 1000px;
left: 100px;
}

#ninth_from_top {
display: block;
position: relative;
top: 1010px;
left: 100px;
}

#tenth_from_top {
display: block;
position: relative;
top: 1020px;
left: 100px;
}
#eleventh_from_top {
display: block;
position: relative;
top: 1030px;
left: 100px;
}
#twelfth_from_top {
display: block;
position: relative;
top: 1030px;
left: 100px;
}
#thirteenth_from_top {
display: block;
position: relative;
top: 1030px;
left: 100px;
}

main {
	display: block;
	height: 100%;
	padding-bottom: 2300px;
}


