
#second_from_top {
display: block;
position: relative;
top: 670px;
left: 100px;
}


#third_from_top {
display: block;
position: relative;
top: 680px;
left: 100px;
}

#fourth_from_top {
display: block;
position: relative;
top: 690px;
left: 100px;
}

#fifth_from_top {
display: block;
position: relative;
top: 700px;
left: 100px;
}

#sixth_from_top {
display: block;
position: relative;
top: 710px;
left: 100px;
}

#seventh_from_top {
display: block;
position: relative;
top: 720px;
left: 100px;
}

#eighth_from_top {
display: block;
position: relative;
top: 730px;
left: 100px;
}

#ninth_from_top {
display: block;
position: relative;
top: 740px;
left: 100px;
}

#tenth_from_top {
display: block;
position: relative;
top: 750px;
left: 100px;
}
#eleventh_from_top {
display: block;
position: relative;
top: 760px;
left: 100px;
}
#twelfth_from_top {
display: block;
position: relative;
top: 770px;
left: 100px;
}
#thirteenth_from_top {
display: block;
position: relative;
top: 780px;
left: 100px;
}

#fourteenth_from_top {
display: block;
position: relative;
top: 790px;
left: 100px;
}
#fifteenth_from_top {
display: block;
position: relative;
top: 800px;
left: 100px;
}
#sixteenth_from_top {
display: block;
position: relative;
top: 810px;
left: 100px;
}
main {
	display: block;
	height: 100%;
	padding-bottom: 720px;
}


