#container {
	display: block;
	min-height: 100%;
	position: relative;
}
a {
  text-decoration: none;
  color: black;
}
img {
  display:block;
  margin: auto;
  width:700px;
}
h1{
  color: black;
}

#blog_navbar{
  display: block;
  position: relative;
  margin-bottom: 30px;

}

.previous_next {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  left: 320px;
  top: -80px;
  text-decoration: underline;
  font-size: 20px;
}

.previous_next a {
  color: gray;
}

.previous_next a:hover{
   padding: 2px;
   border-radius: 5px;
   background-color: gray;
   color:white;
}

.blog_content {

}

#current {
  font-size= 2em;
  text-decoration: bold;
}
#sidebar {
  position: absolute;
  float: right;
  display: block;
  color: gray;
  list-style-type: none;
  right: 25%;
  line-height: 40px;
  font-style: bold;
  top: 210px
}

@media (max-width: 1200px) {
  #sidebar {
    visibility: hidden;
  }
}
#sidebar a{
  color:gray;
}
#sidebar a:hover{
   padding:2px;
   border-radius: 5px;
   background-color: gray;
   color:white;
}

#posttitle {
  display: block;
  position: static;
  width: 700px;
  height: 15px;
}

#subtitle {
  display:block;
  position: relative;
  height: 10px;
  width: 400px;
}
#date {
  display:block;
  position: relative;
  height: 10px;
  width: 400px;
}

.center {
  text-align:center;
}
section {
  display: block;
  position:relative;
  padding-top: 4px;
  width: 600px;
  text-align:left;
  left: 110px;
  margin-right: 100px;
  font-style: sans-serif;
  line-height: 1.1em
}
.courier {
	font-family: Courier;
}
.courier_indent {
	font-family: Courier;
	margin-left: 30px;
}

.courier_indent2 {
	font-family: Courier;
	margin-left: 60px;
}
.courier_indent3 {
	font-family: Courier;
	margin-left: 80px;
}

.courier_indent4 {
	font-family: Courier;
	margin-left: 100px;
}

.indent {
	margin-left:30px;
}
/*#search_field {
	display: block;
	border: 1px solid black;
	padding: 5px;
	margin-right:450px;
	background-color:white;
}*/

#pseudo_example:hover{
   background-color: green;
   color: white;
}

#pseudo_example:active{
   background-color: red;
   color: white;
   }
#top {
  display:block;
  position: relative;
  top: -110px;

}
#footer {
   display: block;
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 5px;


}
#footer a:hover {
   border: 1px solid black;
   padding: 1px;
   border-radius: 5px;
}
#footer a:active {
   border: 1px solid black;
   padding: 2px;
   border-radius: 5px;
   background-color: black;
   color:white;
}