#container {
	display: block;
	min-height: 100%;
	position: relative;
}
a {
  text-decoration: none;
  color: black;
}
img {
  display:block;
  margin: auto;
  width:700px;
}
h1{
  color: black;
}

#blog_navbar{
  display: block;
  position: relative;
  top: 125px;
  margin-bottom: 30px;

}
.previous_next {
  display: inline-block;
  position: relative;
  margin-left: 50px;
  left: 140px;
  top: -80px;
  text-decoration: underline;
  font-size: 20px;
  color: black;
}
#current {
  font-size= 2em;
  text-decoration: bold;
}
#sidebar {
  position: absolute;
  display: block;
  list-style-type: none;
  right: 30%;
  line-height: 40px;
  font-style: bold;
  top: 210px
}
#posttitle {
  display: block;
  position: static;
  width: 700px;
  height: 15px;
}

#subtitle {
  display:block;
  position: relative;
  height: 10px;
  width: 400px;
}
#date {
  display:block;
  position: relative;
  height: 10px;
  width: 400px;
}
p {

}

.center {
  text-align:center;
}
section {
  display: block;
  position:absolute;
  width: 600px;
  text-align:left;
  left: 110px;
  margin-right: 100px;
  font-style: sans-serif;
  line-height: 1.1em
}
.courier {
	font-family: Courier;
}
.courier_indent {
	font-family: Courier;
	margin-left: 30px;
}

.courier_indent2 {
	font-family: Courier;
	margin-left: 60px;
}
.courier_indent3 {
	font-family: Courier;
	margin-left: 80px;
}

.courier_indent4 {
	font-family: Courier;
	margin-left: 100px;
}

.indent {
	margin-left:30px;
}
#search_field {
	border: 1px solid black;
	margin-left:30px;
	margin-right:400px;
}

#top {
display:block;
position: absolute;
top: 210px;

}
#footer {
   display: block;
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 5px;

}
