* {
font-family: sans-serif;
}

#coverphoto {
  width: 80px;
}

h1 {
  font-weight: bold;
}

table {
  left: 100px;
  color: 6496BD; <!light gray>
}

nav a {
    display: inline-block;
    width: 60px;
    padding: 10px;
    text-decoration: none;
    font-color: white;
    background-color: 1A6171; <!slate gray>
}

.center {
   text-align: center;
}

h2 {

}
#sample {
  width: 500px;
  margin: auto
}

footer {

}
