* {
    font-family: sans-serif;
    background-color: #ff10;
}
#coverphoto {
    padding-left: 14px;
    top: 33px;
    width: 170px;
    position: absolute
}
h1 {
    position: relative;
    margin-left: 200px;
    top: -10px;
    padding: 0px;
    font-weight: bold;
    font-size: 86px;
}
nav a {
    display: inline-block;
    position: relative;
    border: 1px solid #1A6171;
    border-radius: 5px;
    width: 170px;
    padding: 10px;
    left: 200px;
    top: -65px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    background: #1A6171;
    font-size: 1.5em;
    text-align: center;
}
nav a:hover {
    color: #1A6171;
    border: 1px solid #1A6171;
    background-color: white;
}
nav a:active {
    color: white;
    background: gray;
}
table a {
    text-decoration: none;
    color: #6496BD;
    font-size: 1.5em;
}
.center {
    font-size: 1.7em;
    text-align: center;
    display: block;
    position: relative;
    width: 675px;
    left: 210px;
}
#homepage_subtitle {
    margin-top: -50px;
    font-family: 'Lora', serif;
    color: gray;
}
#aboutme li {
    font-size: 1.5em;
    font-family: 'Lora', serif;
    color: gray;
    display: block;
    position: relative;
    left: 200px;
    list-style-type: none;
}

#aboutme a {
    font-family: 'Lora', serif;
}

#aboutme a:visited {
  color: blue;
}
h2 {
    font-style: italic;
    font-family: 'Goudy', 'Gregorio';
    color: gray;
}
.sample {
    display: block;
    position: relative;
    margin: 10px;
    width: 400px;
    left: 320px;
}

.logo {
  width: 25px;
}
#footer {
  display: block;
  position: absolute;
  margin-top: 10px;

}


