.projects {
  display: block;
  position: relative;
  left: -10%;
  padding: 5px;
   -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}


.row img {
  margin: 0% 5% 5% 0%;
  display: inline;
}

.summary {
  color: white;
  background-color: black;
  position: absolute;
  opacity: 0;
  width: 13%;
  padding: 2% 2% 2% 3%;
  border: #d3d3d3 1px solid;
  border-radius: 2px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
}

#summary_1 {
  top: 10%;
  left: 15%;}

#summary_2 {
  top: 10%;
  right: -35%;
}

#summary_3 {
  bottom: 10%;
  left: 15%;
}

#summary_4 {
  bottom: 10%;
  right: -35%;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}