
#second_from_top {
display: block;
position: relative;
left: 100px;
top: 700px;
}


#third_from_top {
display: block;
position: relative;
left: 100px;
top: 710px;
}

#fourth_from_top {
display: block;
position: relative;
left: 100px;
top: 720px;

}
#fifth_from_top {
display: block;
position: relative;
left: 100px;
top: 730px;

}

#sixth_from_top {
display: block;
position: relative;
left: 100px;
top: 740px;

}

#seventh_from_top {
display: block;
position: relative;
left: 100px;
top: 750px;

}

#eighth_from_top {
display: block;
position: relative;
left: 100px;
top: 760px;

}


main {
display: block;
height: 100%;
padding-bottom: 770px;

}
