
#second_from_top {
display: block;
position: relative;
left: 100px;
top: 940px;
}


#third_from_top {
display: block;
position: relative;
left: 100px;
top: 950px;
}

#fourth_from_top {
display: block;
position: relative;
left: 100px;
top: 960px;

}
#fifth_from_top {
display: block;
position: relative;
left: 100px;
top: 970px;

}

#sixth_from_top {
display: block;
position: relative;
left: 100px;
top: 980px;

}

#seventh_from_top {
display: block;
position: relative;
left: 100px;
top: 990px;

}

main {
display: block;
height: 100%;
padding-bottom: 1000px;

}
