
#second_from_top {
display: block;
position: relative;
left: 100px;
top: 610px;
}


#third_from_top {
display: block;
position: relative;
left: 100px;
top: 620px;
}

#fourth_from_top {
display: block;
position: relative;
left: 100px;
top: 630px;

}
#fifth_from_top {
display: block;
position: relative;
left: 100px;
top: 640px;

}

#sixth_from_top {
display: block;
position: relative;
left: 100px;
top: 650px;

}

#seventh_from_top {
display: block;
position: relative;
left: 100px;
top: 660px;

}

#eighth_from_top {
display: block;
position: relative;
left: 100px;
top: 670px;

}

main {
display: block;
height: 100%;
padding-bottom: 680px;

}
