
#second_1 {
display: block;
position: relative;
top: 500px;
left: 100px;

} 

#second_3 {
display: block;
position: relative;
top: 780px;
left: 100px;

}

#second_4 {
display: block;
position: relative;
top: 820px;
left: 100px;

}
